/*--------------------------------------------------------------
## Header
--------------------------------------------------------------*/
@import "header/header";

/*--------------------------------------------------------------
## Header Feature Image
--------------------------------------------------------------*/
@import "header/feature-image";

.site {
    width: 100vw;
    @include clearfix;
}

.site-content {
    width: 100vw;
    margin-bottom: ms(4);
    @include respondTo(atleast-narrow) {
        width: 90vw;
        margin: 0 auto;
    }
}

.content-area, 
.widget-area {
    max-width: ms(19);
    padding: ms(2);
    margin: 0 auto ms(2);
    
    @include respondTo(atleast-wide) {
        padding: ms(6);
    }
    @include respondTo(atleast-extra-wide) {
        font-size: ms(1);
        padding: ms(8);
    }
}

.content-area {

}

.widget-area,
.posts-navigation {
    overflow: hidden;
}

/*--------------------------------------------------------------
## Posts and pages
--------------------------------------------------------------*/
@import "primary/posts-and-pages";

/*--------------------------------------------------------------
## Home
--------------------------------------------------------------*/
@import "home/home";

/*--------------------------------------------------------------
## Archive
--------------------------------------------------------------*/
@import "archive/archive";

/*--------------------------------------------------------------
## Asides
--------------------------------------------------------------*/
@import "primary/sharing";

/*--------------------------------------------------------------
## Comments
--------------------------------------------------------------*/
@import "primary/comments";

/*--------------------------------------------------------------
## Footer
--------------------------------------------------------------*/
@import "footer/footer";

/*--------------------------------------------------------------
## 404
--------------------------------------------------------------*/
@import "404/404";