button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
	padding: 0.8em 1.5em;

	border: 1px solid rgba($color__deephouse,.2);
	border-bottom-width: 3px;
	border-radius: 3px;
	background: $color__boujieseafoam;
	
	@extend %heading3;
	color: rgba($color__deephouse,.7);

	@include transition(all 0.4s ease-in-out);
	&:hover {
		background: $color__strawberryrealness;	
		@include transition(all 0.2s ease-in-out);
	}
	&:active{
		background: $color__boujieseafoam;
		border-color: rgba($color__deephouse,.1);
		@include transition(all 0.2s ease-in-out);
	}
	&:focus {
		outline: none;
		box-shadow: 0 0 2px 5px rgba($color__boujieseafoam,.3);
	}
}