// @import "../layout/content-sidebar";
// @import "../layout/sidebar-content";


// Layout

body:before {
    @include respondTo(mammabear) {
        background-color: $color__boujieseafoam;
        content: "";
        display: block;
        height: 100%;
        min-height: 100%;
        position: fixed;
        top: 0;
        left: 0;
        width: 40%;
        z-index: 0; /* Fixes flashing bug with scrolling on Safari */
    }
    @include respondTo(papabear) {
        width: 30%
    }
}

.site {
    margin: 0 auto;
    width: 100%;
    max-width: 100%;
    z-index: 10;
}

.site-header {
    background: $color__boujieseafoam;
    padding: 3em;
    z-index: 10;

    .site-branding, 
    .site-header-sidebar {
        max-width: 300px;
        margin: 0 auto;
    }

    @include respondTo(mammabear) {
        background: none;
        float: left;
        position: relative;
        width: 40%;

    }
    @include respondTo(papabear) {
        width: 30%;
        &:before {
            width: 30%;
        }
    }
}

.site-content {
    display: block;
    z-index: 10;

    .content-area {
        padding: 3em;
    }
    .site-main {
        max-width: 640px;
        margin: 0 auto;
    }
    @include respondTo(mammabear) {
        float: left;
        width: 60%;
    }
    @include respondTo(papabear) {
        width: 70%;
    }
    .themes-grid {
        max-width: 800px;
        @include clearfix();
        .themes-grid-item {
            position: relative;
            display: block;
            @include respondTo(babybear) {
                margin-bottom: 5em;
            }
            @include respondTo(papabear) {
                width: 45%;
                display: inline-block;
                vertical-align: top;

                &:nth-child(even) {
                    margin-right: 10%;
                }
                &:first-child {
                    width: 100%;
                    float: none;
                    margin-right: 0;
                    .entry-header {
                        width: 25%;
                        float: left;
                    }
                    .entry-content {
                        width: 50%;
                        float: left;
                        margin-top: 0.9em;
                    }
                }
            }
        }
        
    }
}




/*--------------------------------------------------------------
10.0.1 Header
--------------------------------------------------------------*/
@import "header/header";

/*--------------------------------------------------------------
10.1 Posts and pages
--------------------------------------------------------------*/
@import "primary/posts-and-pages";
@import "primary/themes-grid";

/*--------------------------------------------------------------
10.2 Asides
--------------------------------------------------------------*/
@import "primary/asides";

/*--------------------------------------------------------------
10.3 Comments
--------------------------------------------------------------*/
@import "primary/comments";