.site-header {
    .site-title {
        margin: 0;
        line-height: 1;
        
        display: block;
        position: relative;
        width: 100%;
        max-width: 250px;
        margin: 1em auto;
        background: url('images/thefivethemes-logo.svg') no-repeat center bottom;
        @include transition(all 0.3s ease-in-out);
        &:before {
            content: "";
            display: block;
            padding-top: 100%;
        }
        a {
            display: block;
            text-indent: -9999px;
            position: absolute;
            top: 0;
            width: 100%;
            height: 100%;
            margin: 0;
        }
        &:hover {
            @include transform(scale(1.03) translateY(-2px));
            @include transition(all 0.2s ease-in-out);
        }
    }

    .site-header-sidebar {
        display: none;
        @include respondTo(mammabear) {
            display: block;
            padding: 2em 0.3em;
            color: rgba(white,.7);
        }
    }

    .main-navigation {
        @extend %heading3;
        margin-bottom: 6em;
    }
    .site-about {
        margin-bottom: 4em;
    }
    .site-info {
        @include font-size(0.75);
        color: rgba($color__deephouse,.3);
    }
    
}