a {
	color: $color__link;
	@include transition(all 0.2s ease-in-out);

	&:visited {
		color: $color__link-visited;
	}
	&:hover,
	&:focus,
	&:active {
		color: $color__link-hover;
		@include transition(all 0.2s ease-in-out);
	}
	&:focus {
		outline: thin dotted;
	}
	&:hover,
	&:active {
		outline: 0;
	}
} 

.site-header {
	a {
        color: rgba($color__deephouse,.4);
        text-decoration: none;
        &:hover {
            color: rgba($color__deephouse,.8);
        }
    }
}

.entry-title a {
    color: rgba($color__deephouse,.7);
    text-decoration: none;
    &:hover {
        color: $color__link-hover;
    }
}

.entry-meta a, 
.entry-footer a {
    text-decoration: none;
}