a {
	color: $color__link;
	@include transition(all 0.2s ease-in-out);

	&:visited {
		color: $color__link-visited;
	}
	&:hover,
	&:focus,
	&:active {
		color: $color__link-hover;
		@include transition(all 0.2s ease-in-out);
	}
	&:focus {
		outline: thin dotted;
	}
	&:hover,
	&:active {
		outline: 0;
	}
} 

.site-header {
	a {
        color: rgba($color__deephouse,.4);
        text-decoration: none;
        &:hover {
            color: rgba($color__deephouse,.8);
        }
    }
}

.entry-title a {
    color: rgba($color__deephouse,.7);
    text-decoration: none;
    &:hover {
        color: $color__link-hover;
    }
}

.entry-meta a, 
.entry-footer a {
    text-decoration: none;
}

.entry-meta a,
.tags-links a {
    color: rgba($color__silverclouds,.5);
    &:hover {
        color: $color__link-hover;
    }
}

.comment-author a {
    color: rgba($color__deephouse,.6);
    text-decoration: none;
    &:hover {
        color: $color__link-hover;
    }
}

.comment-metadata a,
.pingback .edit-link a {
    color: rgba($color__silverclouds,.5);
    text-decoration: none;
    &:hover {
        color: $color__link-hover;
    }
}

// Themes Grid
.themes-grid-item .entry-calltoaction a {
    background: $color__link;
    color: rgba($color__deephouse,.8);
    text-decoration: none;
    &:hover {
        background: $color__link-hover;
    }
}