.nav-menu {
    padding: 0;
    margin: 0;
    list-style: none;
}

.main-navigation {
    max-width: ms(19);
    padding: 0;  
    margin: 0 auto;
    @include text-format(heading-small);
    font-weight: 700;
    h2 {
        display: none;
    }

    ul, 
    ul li {
        display: inline-block;
        list-style: none;
        margin: 0;
        padding: 0;
    }
    

    .sub-menu { 
        padding-left: ms(0);
        border-left: 2px solid $color__border-sidebar-navigation;
        a {
            font-size: ms(0);
            opacity: .6;
            padding: ms(0) 0;
            &:hover {
                opacity: 1;
            }
        }
    } 

    a {
        display: block;
        padding: ms(2);
        color: $color__link-header;
        font-size: ms(1);
        line-height: 1;
        text-decoration: none;
        &:hover {
            color: $color__link-header-hover;
        }
    }
}

.social-navigation {
    display: none; // temporary
}



// Post Navigation

.posts-navigation {
    a:hover {
        background: $color__background-secondary;
    }
}

.comment-navigation,
.posts-navigation,
.post-navigation {
    & .nav-previous,
    & .nav-next {
        a {
            display: inline-block;
            text-decoration: none;
            @include text-format(heading-small);
        }
    }
    & .nav-previous,
    & .nav-next {
        width: 50%;
    }
    & .nav-previous {
        float: left;
    }
    & .nav-next {
        float: right;
        text-align: right;
    }
}

.comment-navigation,
.post-navigation {
    .site-main & {
        margin: 0 0 1.5em;
        overflow: hidden;
    }
    & .nav-next {
        text-align: right;
    }
}

.posts-navigation {
    & .nav-previous {
        padding-right: 1em;
        text-align: right;
    }
    & .nav-next {
        padding-left: 1em;
        text-align: left;
    }
}